.status {
  font-size: 50px;
  margin-bottom: 15px;
  color: #bde0fe;
  text-align: center;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 350px;
  left: 380px;
  width: 900px;
  z-index: -1;
}

.player-score {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  color: #ffd166;
  border: 12px groove #ffd166;
  padding: 6px;
}
@media (max-width: 1400px) {
  .scoreboard {
    left: 280px;
    width: 750px;
  }
}

@media (max-width: 1250px) {
  .scoreboard {
    left: 230px;
    width: 700px;
  }
}

@media (max-width: 1000px) {
  .scoreboard {
    left: 180px;
    width: 600px;
  }
}

@media (max-width: 850px) {
  .scoreboard {
    left: 100px;
    width: 580px;
  }
}
@media (max-width: 680px) {
  .scoreboard {
    left: 90px;
    width: 540px;
  }
  .player-score {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .scoreboard {
    left: 40px;
    width: 500px;
  }
  .status {
    font-size: 40px;
  }
}

@media (max-width: 520px) {
  .scoreboard {
    left: 30px;
    width: 420px;
  }
  .status {
    font-size: 30px;
  }
  .board-row button {
    font-size: 40px;
  }
  .player-score {
    font-size: 14px;
    border: 7px groove #ffd166;
  }
}

@media (max-width: 440px) {
  .scoreboard {
    left: 18px;
    width: 325px;
  }
}
